@import './../../../styles/mixins';

.input-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: var(--darkViolet);
    border-radius: 10px;
    margin: 40px auto;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        z-index: 0;
        right: 0;
        top: 0;
        @include responsive(1200px){
            width: 100%;
        }
    }
    .input-link__form{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        @include responsive(1200px){
            flex-direction: row;
        }
        form{
            width: 100%;
            @include responsive(1200px){
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        .input-link__error{
            color: var(--red);
            font-size: 14px;
            margin-top: 5px;
            width: fit-content;
            @include responsive(1200px){
                text-align: center;
            }
        }
    }
    .input-link__input{
        width: 100%;
        height: 60px;
        border-radius: 10px;
        border: none;
        padding: 0 20px;
        &::placeholder{
            color: var(--grayishViolet);
            font-size: 18px;
            font-weight: 700;
        }
        &:focus{
            outline: none;
        }
        @include responsive(1200px){
            width: 75%;
        }
    }
    .input-link__button{
        width: 100%;
        height: 60px;
        border-radius: 10px;
        border: none;
        color: var(--white);
        background-color: var(--cyan);
        margin-top: 20px;
        font-size: 18px;
        font-weight: 700;
        @include responsive(1200px){
            width: 20%;
            margin-top: 0;
        }
    }
}
