<section class="boost">
    <h2>Boost your links today</h2>
    <button>Get Started</button>
</section>
<footer>
    <img src="logoWhite.svg" alt="ShortLink">
    <div class="footer__links">
        <div class="footer__link--option">
            <h4>Features</h4>
            <p>Link Shortening</p>
            <p>Branded Links</p>
            <p>Analytics</p>
        </div>
        <div class="footer__link--option">
            <h4>Resources</h4>
            <p>Blog</p>
            <p>Developers</p>
            <p>Support</p>
        </div>
        <div class="footer__link--option">
            <h4>Company</h4>
            <p>About</p>
            <p>Our Team</p>
            <p>Careers</p>
            <p>Contact</p>
        </div>
        <div class="footer__link--social">
            <img src="icon-facebook.svg" alt="Facebook">
            <img src="icon-twitter.svg" alt="Twitter">
            <img src="icon-pinterest.svg" alt="Pinterest">
            <img src="icon-instagram.svg" alt="Instagram">
        </div>
    </div>
</footer>
