@import './app/styles/mixins';

:root{
    //Colors primary
    --cyan: hsl(180, 66%, 49%);
    --darkViolet: hsl(257, 27%, 26%);
    //Colors Secondary
    --red: hsl(0, 87%, 67%);
    //Neutral
    --gray: hsl(0, 0%, 75%);
    --grayishViolet: hsl(257, 7%, 63%);
    --veryDarkBlue: hsl(255, 11%, 22%);
    --veryDarkViolet: hsl(260, 8%, 14%);
    --white: #fff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}


